In [2]:
import pandas as pd
import numpy as np
import select as something
from matplotlib import pyplot as plt
from sqlalchemy import create_engine
pd.set_option('display.max_columns', 54)

In [3]:
engine = create_engine('mysql+pymysql://root:zipcoder@localhost:3306/project_data')

In [4]:
df =pd.read_sql('select * from house_pub', engine)
df.head()

,Hum,lng,building_code_description,category_code,category_code_description,central_air,depth,exempt_building,exempt_land,exterior_condition,fireplaces,frontage,fuel,garage_spaces,garage_type,general_construction,geographic_ward,homestead_exemption,interior_condition,location,market_value,number_of_bathrooms,number_of_rooms,number_stories,off_street_open,quality_grade,sale_price,separate_utilities,street_code,suffix,taxable_building,taxable_land,topography,total_area,total_livable_area,type_heater,unfinished,unit,utility,view_type,year_built,zip_code,lat,number_of_bedrooms
0,0,-75.147193,VACANT LAND RESIDE < ACRE,6,Vacant Land,None,42.00,0.0,0.0,0.0,0.0,26.20,None,0.0,None,None,1.0,0.0,0.0,110 EARP ST,58600.0,0.0,0.0,0.0,0.0,NaN,37000.0,None,30420,None,0.0,58600.0,F,1100.40,0.0,None,None,None,None,None,0,191476133,39.930494,0.0
1,1,-75.147264,VACANT LAND RESIDE < ACRE,6,Vacant Land,None,38.66,0.0,0.0,0.0,0.0,13.41,None,0.0,None,None,1.0,0.0,0.0,112 EARP ST,27600.0,0.0,0.0,0.0,0.0,NaN,50000.0,None,30420,None,0.0,27600.0,F,518.43,0.0,None,None,None,None,None,0,191476133,39.930504,0.0
2,2,-75.147314,VACANT LAND RESIDE < ACRE,6,Vacant Land,None,38.66,0.0,0.0,0.0,0.0,13.08,None,0.0,None,None,1.0,0.0,0.0,114 EARP ST,26900.0,0.0,0.0,0.0,0.0,NaN,21000.0,None,30420,None,0.0,26900.0,F,505.67,0.0,None,None,None,None,None,0,191476133,39.930510,0.0
3,3,-75.146760,VACANT LAND RESIDE < ACRE,6,Vacant Land,None,50.00,0.0,39900.0,0.0,0.0,15.00,None,0.0,None,None,1.0,0.0,0.0,105 REED ST,39900.0,0.0,0.0,0.0,0.0,NaN,1.0,None,67780,None,0.0,0.0,F,750.00,0.0,None,None,None,None,None,0,191476100,39.930285,0.0
4,4,-75.146813,VACANT LAND RESIDE < ACRE,6,Vacant Land,None,50.00,0.0,42600.0,0.0,0.0,16.00,None,0.0,None,None,1.0,0.0,0.0,107 REED ST,42600.0,0.0,0.0,0.0,0.0,NaN,1.0,None,67780,None,0.0,0.0,F,800.00,0.0,None,None,None,None,None,0,191476100,39.930292,0.0

In [6]:
df.columns

Index(['Hum', 'lng', 'building_code_description', 'category_code',
       'category_code_description', 'central_air', 'depth', 'exempt_building',
       'exempt_land', 'exterior_condition', 'fireplaces', 'frontage', 'fuel',
       'garage_spaces', 'garage_type', 'general_construction',
       'geographic_ward', 'homestead_exemption', 'interior_condition',
       'location', 'market_value', 'number_of_bathrooms', 'number_of_rooms',
       'number_stories', 'off_street_open', 'quality_grade', 'sale_price',
       'separate_utilities', 'street_code', 'suffix', 'taxable_building',
       'taxable_land', 'topography', 'total_area', 'total_livable_area',
       'type_heater', 'unfinished', 'unit', 'utility', 'view_type',
       'year_built', 'zip_code', 'lat', 'number_of_bedrooms'],
      dtype='object')

In [7]:
pd.read_sql('select Hum, market_value, sale_price, zip_code, year_built, number_of_rooms, number_of_bedrooms, total_area, total_livable_area from house_pub where sale_price >10000;', engine)

,Hum,market_value,sale_price,zip_code,year_built,number_of_rooms,number_of_bedrooms,total_area,total_livable_area
0,0,58600.0,37000.0,191476133,0,0.0,0.0,1100.40,0.0
1,1,27600.0,50000.0,191476133,0,0.0,0.0,518.43,0.0
2,2,26900.0,21000.0,191476133,0,0.0,0.0,505.67,0.0
3,6,283800.0,1283700.0,191476128,1920,7.0,4.0,540.00,1131.0
4,7,294100.0,233000.0,191476128,1920,0.0,3.0,541.60,1235.0
...,...,...,...,...,...,...,...,...,...
38029,65510,31200.0,11000.0,191322017,1925,6.0,3.0,697.50,1032.0
38030,65517,31200.0,37500.0,191322017,1925,6.0,3.0,697.50,1032.0
38031,65518,31200.0,15000.0,191322017,1925,6.0,3.0,697.50,1032.0
38032,65519,31200.0,17100.0,191322017,1925,6.0,3.0,697.50,1032.0
38033,65527,29000.0,33000.0,191321427,1925,6.0,3.0,658.00,896.0

created a new table in mysql 
create table house2_data
as
select Hum, market_value, sale_price,year_built, number_of_rooms, number_of_bedrooms, total_area, total_livable_area, SUBSTRING(zip_code, 1, 5) AS zipCode 
from house_pub

reHouse_df = pd.read_sql('select * from house2_data where sale_price >10000;', engine)
#created a dataframe from the new table i created earlier with sale_price > 1000

hr_df.to_csv('/Users/mtessema/Desktop/VNQ/revised_house.csv', index=False)